html{
  font-family: helvetica;
}
h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  }
.hacksaw h2{
    background-color: mediumspringgreen;
  }
.frames h2{
    background-color: lightcoral;
  }
.paints h2{
    background-color: skyblue;
  }
a{
  font-weight: bold;
  color: blue;
}
